VITE_SUPABASE_URL=https://qrgwenbmvffajdnhqofk.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFyZ3dlbmJtdmZmYWpkbmhxb2ZrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3MDI5MTYsImV4cCI6MjA5NzI3ODkxNn0.ZVbNPoOEXJlI-MaR_Mcw6EhGnPGDDoo771VUdrYNSGU